@using MainBit.Projections.ClientSide.ViewModels;
@using  Orchard.Utility.Extensions;
@{
    List<ClientSideLayoutViewModel> layouts = Model.Layouts;
}
@if (layouts.Any())
{
    <div class="b-client-side-layouts">
        <span class="title">@T("Display as")</span>
        @foreach (var layout in layouts)
        {
        <a href="@(layout.Url)" class="@(layout.Name.HtmlClassify())@(layout.Applying ? " current" : "")">@(layout.DisplayName)</a>
        }
    </div>
}